/* ////////////// HEADER ////////////// */
#brand {
  color: orangered;
  cursor: pointer;
  letter-spacing: 3px;
}

/* /////////////// HOME ////////////  */
.featured {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .featured {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 425px) {
  .featured {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
.about-albatsuki {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.about-albatsuki p {
  margin-bottom: 10px;
}

.why-choose {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.why-choose ul {
  margin-bottom: 10px;
}

.contact-us {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.contact-us ul {
  margin-bottom: 10px;
}
/* /////////////////// FOOTER //////////////  */
footer {
  background-color: #343a40;
  color: #fff;
}

/* ActionFigure*/
.action-figure-container {
  padding: 2rem;
  background-color: rgb(57, 61, 61);
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: orangered;
}
.action-text {
  font-size: 45px;
}

@media screen and (max-width: 1024px) {
  .action-text {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  .action-figure-container {
    grid-template-columns: 1fr;
    place-content: center;
  }
  .action-text {
    font-size: 35px;
  }
  .right-action-figure {
    width: 600px;
  }
  .right-parent {
    display: grid;
    place-content: center;
  }
}
@media screen and (max-width: 425px) {
  .right-action-figure {
    height: auto;
    width: 280px;
  }
  .action-text {
    font-size: 24px;
  }
  .logo img {
    width: 250px;
  }
  .right-parent {
    display: grid;
    place-content: center;
  }
}
.left-action-figure {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
}
.left-action-figure .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-left-action {
  display: grid;
  place-content: center;
}
.shop-now {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-now button {
  background-color: #f2f2f2;
  border: none;
  width: 50%;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}
.shop-now button:hover {
  background-color: orangered;
  color: white;
  transition: 0.5s;
}
.bottom-left-action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
}
.bottom-left-action-left {
  background-color: aqua;
  background-image: url("https://store.aniplexusa.com/demonslayer/tanjiro-kamado-buzzmod-ver/images/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom-left-action-right {
  background-color: rgb(145, 192, 34);
  background-image: url("https://store.aniplexusa.com/demonslayer/kyojuro-rengoku-buzzmod-ver/images/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-action-figure {
  min-height: 660px;
  background-image: url("../src/assets/action-figure-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
